[submodule "Submodules/PIMPL"]
	path = Submodules/PIMPL
	url = https://github.com/macmade/PIMPL.git
[submodule "Submodules/SeriousCode"]
	path = Submodules/SeriousCode
	url = https://github.com/macmade/SeriousCode.git
